NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=12345
DB_DATABASE=soporte

JWT_ACCESS_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_access
JWT_REFRESH_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_refresh

FRONTEND_URL=http://localhost:5173

RESEND_API_KEY=
EMAIL_FROM=noreply@tudominio.com
EMAIL_DESTINATARIO=notificaciones@tudominio.com